*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,20,0.7), rgba(4,9,20,0.7), url(picture/WhatsApp\ Image\ 2025-08-17\ at\ 1.10.55\ PM.jpeg));
    background-position: center;
    background-size: cover;
    position: relative;
}