*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(30, 16, 4, 0.7),rgba(30,16,4,0.7)),url(picture/orange.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
    border-radius: 5%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 72px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .close{
    display: none;
}
nav .menu{
    display: none;
}

@media(max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: absolute;
        background:#f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .close{
        display: block;
        width: 30px;
        padding: 5px 5px;
        cursor: pointer;
    }
    nav .menu{
        display: block;
        width: 45px;
        padding: 5px 5px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30%;
    }
}

/* ------ABOUT-------- */

.about{
    min-height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    background-color: #cdaa93;
}

.about h1{
    color: #ffffff;
    padding-top: 35px;
    padding-left: 450px;
    font-size: 30px;
    text-align: center;
}

.about img{
    position: absolute;
    width: 250px;
    left: 70%;
    top: 20%;
}

.huab{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    margin-top: 30px;
}

/* --Latest Design-- */
.latest_design{
    min-height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    background-color: #e5b78c;
}

 .banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
 }
 .banner .slider {
    position: absolute;
    width: 200px;
    height: 240px;
    top: 44%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1100px);
    animation: autoRun 40s linear infinite;
 }

 @keyframes autoRun {
    from {
        transform: perspective(1100px) rotateX(3deg) rotateY(0deg);
    }to{
        transform: perspective(1100px) rotateX(3deg) rotateY(360deg);
    }
 }
 .banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(550px);
 }

 .banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

  .banner .content h1{
    font-size: 10em;
    top: 15px;
    left: 0;
    color: #fff;
    /* inset: 0 0 0 0; */
    content: attr(data-content);
    -webkit-text-stroke: 4px #fff;
    color: transparent;
  }

  .banner .author{
    font-size: 2em;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 43%;
  }
  

  /* -----footer----- */

 .footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #916040, #e5b78c);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 350px;
    font-size: 13px;
    line-height: 20px;
  }

  .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .col{
    flex-basis: 10%;
    padding: 10px;
  }

  .col:nth-child(2), .col:nth-child(4){
    flex-basis: 25%;
  }

  .col img{
    width: 150px;
    border-radius: 5%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
  }
  .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }

  .email-id{
    width: fit-content;
    border-bottom: 1px solid #fff;
    margin: 20px 0;
  }

  .number{
    margin-bottom: 10px;
  }

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .fa-solid{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    color: #fff;
} 

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fa-solid{
    size: 16px;
    color: #fff; 
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    margin-top: -100px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 2px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20%;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }
     .col{
    flex-basis: 100%;
  }

  .col:nth-child(2), .col:nth-child(4){
    flex-basis: 100%;
  }
}